"$schema" = 'https://starship.rs/config-schema.json'

format = """\
[](fg:section1)$os$username$hostname[ ](bg:section1)\
[](fg:section1 bg:section2)$directory\
[](fg:section2 bg:section3)$git_branch$git_status\
[](fg:section3 bg:section4)[$time](fg:text bg:section4)\
[ ](fg:section4)\
$fill\
[ ](fg:section1)$status\
[ ](fg:section1)\
$line_break$character"""


palette = "theme"

[palettes.theme]
section1 = "#{{colors.magenta}}" 
section2 = "#{{colors.blue}}" 
section3 = "#{{colors.cyan}}" 
section4 = "#{{colors.green}}" 
surface = "#{{colors.separator}}"
text = "#{{colors.fg_inverse}}"     

[os]
disabled = false
style = "bg:section1 fg:text"
format = '[$symbol]($style)'

  [os.symbols]
  Arch = "󰣇"
  Ubuntu = "󰕈"
  Windows = "󰍲"

[username]
show_always = true
style_user = "bg:section1 fg:text"
style_root = "bg:section1 fg:text"
format = '[ $user]($style)'

[hostname]
ssh_only = true
style = "bg:section1 fg:text"
format = '[@$hostname]($style)'

[directory]
style = "fg:text bg:section2"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

  [directory.substitutions]
  "~/documents" = "󰈙"
  "~/downloads" = " "
  "~/pictures" = " "
  "~/code" = "󰲋 "

[git_branch]
symbol = ""
style = "fg:text bg:section3"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:text bg:section3"
format = '[($all_status$ahead_behind )]($style)'

[c]
symbol = " "
style = "fg:text bg:section4"
format = '[ $symbol $version ]($style)'

[python]
symbol = ""
style = "fg:text bg:section4"
format = '[ $symbol $version ]($style)'

[time]
disabled = false
time_format = "%I:%M %p"
format = '   $time '

[fill]
disabled = false
style = "fg:surface"
symbol = '─'

[status]
disabled = false
symbol = ''
success_symbol = ''
not_executable_symbol = '󰜺'
not_found_symbol = ''
sigint_symbol = ''
signal_symbol = '󱐋'
map_symbol = true
style = "fg:text bg:section1"
format = '[ $symbol $status ]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:#{{colors.green}})'
error_symbol = '[](bold fg:#{{colors.red}})'
