@use 'sass:color';
@use "colors";
@use "bar";
@use "menu";

$font_size: 12px; // NOTE: smaller than 12 breaks the icons (dont align properly)

* {
  all: unset;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: $font_size;
  color: colors.$text;
}

image {
  -gtk-icon-size: bar.$icon_size;
}
