@import "./colors.scss";

$bar_height: 24px;
$bar_border_width: 2px; // same as hyprland borders TODO: make use of bombadil's variables to set this
$font_size: 12px;

@mixin borders ($border_radius) {
  border-radius: $border_radius;
  border-width: $bar_border_width;
  border-style: solid;
  border-color: $overlay1;
}

* {
  all: unset;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: $font_size;
  color: $text;
}

.bar {
  min-height: $bar_height;
}

.module {
  background: $base;
  @include borders($bar_height);
  padding: 0px 10px;
}

.left_box {
  min-width: 400px;
}

.center_box {
  min-width: 250px;
}

.right_box {
  min-width: 400px;
}

.workspaces {
  background-color: $surface0;
  border-radius: $bar_height;
  padding: 0px 5px;
  margin: 0px 5px;
}

.workspaces button:hover {
  border-radius: 10px;
  background-color: $lavender;

  label {
    color: $mantle;
  }
}

.workspace_btn {
  min-width: $bar_height - (2 * $bar_border_width);
}

// .workspace_btn_active {
//   background-color: $blue;
//
//   label {
//     color: $mantle;
//   }
//
//   border-radius: $bar_height - (2 * $bar_border_width);
// }
//
// .workspace_btn_empty {
//   label {
//     color: $overlay2;
//   }
// }
//
// .workspace_btn_active.workspace_btn_empty label {
//   color: $mantle;
// }

.arch_logo {
  -gtk-icon-size: $font_size;
  color: #1793d1;
}

.window_title {
  label {
    color: $overlay2;
  } 
}

.power_button {
  -gtk-icon-size: $font_size;
}

.power_menu {
  $width: 500px;
  $height: 130px;
  @include borders(10px);
  background-color: $surface0;
  min-width: $width - 2*$bar_border_width;
  min-height: $height - 2*$bar_border_width;
}

.power_menu_entry {
  $size: 100px;
  border-color: $surface0;
  min-width: $size;
  min-height: $size;
  // margin-right: 22px; // (power menu $width - 4*$size) / 3;
  margin: 15px 22px 15px 0px;


  &:last-child {
    margin-right: 0px;
  }

  image {
    -gtk-icon-size: 100px;
  }

  label {
    font-size: $font_size;
  }

  button:hover {
    background-color: $overlay1;
    border-radius: 10px;
    // border-width: 0px;
  }
}

