@use 'sass:color';
@import "./colors.scss";

$bar_height: 22px;
$bar_border_width: 2px; // same as hyprland borders  TODO: make use of bombadil's variables to set this
$font_size: 12px; // smaller than 12 breaks the icons (dont align properly)
// $icon_size: 12px;
$icon_size: 1.2em;
$alpha_value: 0.6;

@mixin borders ($border_radius) {
  border-radius: $border_radius;
  // border-width: $bar_border_width;
  // border-style: solid;
  // border-color: change-color($lavender, $alpha: $alpha_value);
}

@mixin buttons_sizing () {
  min-width: $bar_height;
}

* {
  all: unset;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: $font_size;
  color: $text;
}

image {
  -gtk-icon-size: $icon_size;
}

.nf_icon {
  font-family: "JetBrains Mono Nerd Font Propo";
}

.bar {
  min-height: $bar_height;
  // background-color: change-color($mantle, $alpha: $alpha_value - 0.2);
  background-color: $crust;
  border-bottom: 2px solid change-color($lavender, $alpha: $alpha_value - 0.2);
  // padding: 2px 0px 2px 0px;
}

.module {
  background: $base;
  @include borders($bar_height);
  padding: 0px 10px;
}

.left_box {
  // margin-left: 10px;
  // min-width: 400px;
}

.center_box {
  min-width: 350px;
  // background-color: change-color($base, $alpha: $alpha_value);
  // border-radius: $bar_height;
  padding: 0px 10px 0px 10px;
}

.right_box {
  min-width: 400px;
}

.bar_button {
  min-width: $bar_height;
  border-radius: $bar_height;
}

.workspaces {
  background-color: $surface0;
  border-radius: $bar_height;
  padding: 0px 5px;
  margin: 0px 5px;
}

.workspace_button:hover {

  background-color: $lavender;

  label {
    color: $mantle;
  }
}

.workspace_btn_active {
  background-color: $blue;

  label {
    color: $mantle;
  }

  border-radius: $bar_height - (2 * $bar_border_width);
}

// .workspace_btn_empty {
//   label {
//     color: $overlay2;
//   }
// }
//
// .workspace_btn_active.workspace_btn_empty label {
//   color: $mantle;
// }

.arch_logo {
  -gtk-icon-size: $icon_size;
  color: #1793d1;
}

.window_title {}

.menu {
  @include borders(10px);
  background-color: $base;

  &:hover {
    border-color: $lavender;
  }
}

.power_button {
  -gtk-icon-size: $icon_size;
  min-width: $bar_height;
  border-radius: $bar_height;
  // background-color: $maroon;

  &:hover {
    background-color: $red;

    image {
      color: $mantle;
    }
  }
}

.power_menu {
  $width: 500px;
  $height: 130px;
  min-width: $width - 2*$bar_border_width;
  min-height: $height - 2*$bar_border_width;
}

.power_menu_entry {
  $size: 100px;
  border-color: $surface0;
  min-width: $size;
  min-height: $size;
  // margin-right: 22px; // (power menu $width - 4*$size) / 3;
  margin: 15px 22px 15px 0px;


  &:last-child {
    margin-right: 0px;
  }

  image {
    -gtk-icon-size: 100px;
  }

  label {
    font-size: $font_size;
  }

  button:hover {
    background-color: $overlay1;
    border-radius: 10px;
    // border-width: 0px;
  }
}

.wifi_button {
  min-width: $bar_height;
  border-radius: $bar_height;

  &:hover {
    background-color: $lavender;

    image {
      color: $mantle;
    }
  }
}

.bluetooth_button {
  min-width: $bar_height;
  border-radius: $bar_height;

  &:hover {
    background-color: $lavender;

    image {
      color: $mantle;
    }
  }
}

.volume_button {
  min-width: $bar_height;
  border-radius: $bar_height;

  &:hover {
    background-color: $lavender;

    image {
      color: $mantle;
    }
  }
}

.volume_menu {
  $width: 400px;
  $height: 100px;
  min-width: $width - 2*$bar_border_width;
  min-height: $height - 2*$bar_border_width;
}

.volume_menu_entry {
  $width: 100px;
  $height: 30px;
  border-color: $surface0;
  min-width: $width;
  min-height: $height;
  margin: 15px 15px 15px 15px;


  scale trough {
    background-color: $surface2;
    border-radius: 10px;
    min-height: 10px;
    min-width: 150px;
    margin: 0px 20px 0px 20px;
  }

  scale trough highlight {
    background-color: $lavender;
    border-radius: 10px;
  }

  image {
    -gtk-icon-size: 14px;
  }

  // label {
  //   font-size: $font_size;
  // }
  //
  // button:hover {
  //   background-color: $overlay1;
  //   border-radius: 10px;
  //   // border-width: 0px;
  // }
}
